<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" type="image/ico" href="{{ asset('bundles/cfahubshared/images/favicon.ico') }}"/>

        <title>{% block title %}EllisApps{% endblock %}</title>

        {% block stylesheets %}
            <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
            {% stylesheets
                '@EllisAppsSharedBundle/Resources/public/css/bootstrap/bootstrap.css'
            %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
    </head>

    <body style="background-color: #F5F4F1">
        <div class="container" style="margin-top: 20px;">
            {% set flashTypes = [ 'info', 'notice', 'warning', 'error', 'success'] %}
            {% set flashTypeMap = {
                'info' : 'info',
                'notice' : 'info',
                'warning' : 'warning',
                'error' : 'danger',
                'success' : 'success',
            } %}
            {% for flashType in flashTypes %}
                {% for flashMessage in app.session.flashbag.get(flashType) %}
                    <div class="hidden-print alert alert-{{ flashTypeMap[flashType] }}">
                        <strong>
                            {{ flashMessage|raw }}
                        </strong>
                    </div>
                {% endfor %}
            {% endfor %}


            {% block content %}
            {% endblock %}
        </div>

        {% block javascripts %}
            {% javascripts
                'bundles/ellisappsshared/js/jquery-1.11.1.min.js'
            %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}

            <script>
                /* table row click */
                $('.js-row-click').on('click', function(e){
                    window.location.href = $(this).attr('data-url');
                });
            </script>
        {% endblock %}
    </body>
</html>

